QDialog{
        background: #616263;
}
QPushButton{
        border:none;
        background-color:transparent;
}
QPushButton:hover{
        background: #727374;
        border-radius: 10px;
}
QFrame{
        border:10px dotted gray;
}
QLabel{
       border:none;
       color:white;
        font-size:15px;
}
#param,
#stop,
#streetV,
#viewMap,
#auto_2{
font-size:30px;
  background: #d93434;
  background-image: linear-gradient(to bottom, #d93434, #990b0b);
  border-radius: 16px;
  color: #ffffff;
}
#param:hover,
#stop:hover,
#streetV:hover,
#viewMap:hover,
#auto_2:hover {
  background: #ff6161;
  background-image: linear-gradient(to bottom, #ff6161, #c94949);
  text-decoration: none;
}
QLabel{
    color:white;
    border:none;
}
QTextEdit{
    border:none;
}